.CountryDropdown {
    display: block;
    background-color: #1480fb60;
    width: 50%;
    margin: 10px 10% auto auto;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
    padding: 10px 40px;
    border-radius: 20px;
    clear: both;
    white-space: pre-line;
    text-align: end;

}