.Message-user {
    display: block;
    background-color: #147efb;
    width: 50%;
    margin: 10px 10% auto auto;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
    padding: 10px 40px;
    border-radius: 20px;
    clear: both;
    white-space: pre-line;
    text-align: end;
  
    &.me {
      color: white;
      float: right;
      background-color: #328ec4;
    }
  }

  .Message-system {
    display: block;
    background-color: whitesmoke;
    width: 50%;
    margin: 10px auto auto 10%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
    padding: 10px 40px;
    border-radius: 20px;
    clear: both;
    white-space: pre-line;
    text-align: start;
  
    &.me {
      color: white;
      float: right;
      background-color: #328ec4;
    }
  }